/*.centered-panel {*/
/*    display: block;*/
/*    text-align: center;*/
/*    width: fit-content;*/
/*    margin: auto !important;*/
/*}*/

form.register-form {
    padding: 4em;
}

form.center-form {
    display: block;
    text-align: left;
    width: fit-content;
    background-color: white;
    margin: auto;
}

.layout-content {
    margin: 0 !important;
    padding: 0 !important;
}