.centered-panel {
    display: block;
    text-align: center;
    width: fit-content;
    margin: auto;
}

form.center-form {
    text-align: left;
    margin: 2em;
    background-color: white;
    padding: 4em;
    width: 500px;
}

form.modal-form {
    text-align: left;
}